<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="risecommerce" translate="label" sortOrder="500" class="risecommerce_conf_logo">
            <label>Risecommerce</label>
        </tab>
        <section id="risecommerce_banner" translate="label" sortOrder="1" showInStore="1" showInWebsite="1" showInDefault="1">
            <class>separator-top</class>
            <label>Banner</label>
            <tab>risecommerce</tab>
            <resource>Risecommerce_Banner::config_banner</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Banner</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="advance" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Advance Configuration</label>
                <field id="btntextcolor" translate="label" sortOrder="1" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Text Color</label>
                    <frontend_model>Risecommerce\Banner\Block\Color</frontend_model>
                    <comment>Select Colour  from colour picker.</comment>
                </field>
                <field id="hoverbtntextcolor" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hover Button Color</label>
                    <frontend_model>Risecommerce\Banner\Block\Color</frontend_model>
                    <comment>Select Colour  from colour picker.</comment>
                </field>
                  <field id="btncolor" translate="label" sortOrder="3" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Color</label>
                    <frontend_model>Risecommerce\Banner\Block\Color</frontend_model>
                    <comment>Select Colour  from colour picker.</comment>
                </field>
                <field id="left_padding" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">  
                    <label>Left Side Padding</label>
                    <comment>In format e.g. 20px else  leave it blank for full width </comment>
                </field>
                <field id="right_padding" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Right Side Padding</label>
                   <comment>In format e.g. 20px else  leave it blank for full width</comment>
                </field>
                <field id="auto_rotation" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto Rotation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="auto_rotation_speed" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="auto_rotation">1</field>
                    </depends>
                    <label>Auto Rotation Speed (ms)</label>
                    <validate>required-entry validate-number</validate>
                </field>
            </group>
        </section>
    </system>
</config>
